[submodule "targets/chartsearchai"]
	path = targets/chartsearchai
	url = https://github.com/pmanko/openmrs-module-chartsearchai.git
	branch = harness-integration
[submodule "targets/querystore"]
	path = targets/querystore
	url = https://github.com/openmrs/openmrs-module-querystore.git
[submodule "targets/openmrs_chatbot"]
	path = targets/openmrs_chatbot
	url = https://github.com/anichiti/openmrs_chatbot.git
[submodule "targets/catalyst"]
	path = targets/catalyst
	url = https://github.com/DIGI-UW/openelis-catalyst.git
